---
import { Layout } from "../components/Layout";
import { Head } from "../components/Head";
import { getNavLinksForPage } from "../components/navigation";

const { navLinks, subNav } = getNavLinksForPage("/");
---

<html lang="en" class="h-full">
  <head>
    <Head title="Kite Spots" />
  </head>
  <body class="h-full">
    <Layout navLinks={navLinks} subNav={subNav}>
      <div class="w-full h-full flex justify-center items-center">
        <img
          src="/assets/surfer.webp"
          alt="kitesurfer"
          class="w-full h-full object-cover"
          loading="lazy"
        />
      </div>
    </Layout>
  </body>
</html>

<script>
  import "../main.js";
</script>
