---
layout: base.html
title: Kite Spots
---

<div class="flex-grow p-4 md:p-8 bg-white bg-opacity-50 md:rounded-lg overflow-y-auto">
  <div class="w-full h-full flex justify-center items-center">
    <img src="/assets/surfer.webp" alt="kitesurfer" class="w-full h-full object-cover" loading="lazy" />
  </div>
</div>
<div class="min-h-[2rem] md:min-h-[4rem]"></div>