---
import { Layout } from "../../../components/Layout";
import { Head } from "../../../components/Head";

const navLinks = [
  { href: "/", label: "Kite Łódź", isActive: false },
  { href: "/spots/jeziorsko/", label: "Jeziorsko", isActive: true },
  { href: "/kontakt", label: "Kontakt", isActive: false },
];
const subNav = [
  { href: "/spots/jeziorsko/spoty", label: "Spoty", isActive: false },
  { href: "/spots/jeziorsko/pogoda", label: "Pogoda", isActive: true },
];
---

<html lang="en" class="h-full">
  <head>
    <Head title="Pogoda - Jeziorsko" />
  </head>
  <body class="h-full">
    <Layout navLinks={navLinks} desktopSubNav={subNav} mobileSubNav={subNav}>
      <div class="w-full flex flex-col items-start">
        <div class="w-full mb-4">
          <h3 class="text-xl mb-2">Aktualna pogoda*</h3>
          <div id="current-weather" class="flex flex-col">
            <div class="flex space-x-2">
              <p>Kierunek wiatru:</p>
              <p id="wind-dir">-</p>
            </div>
            <div class="flex space-x-2">
              <p>Prędkość wiatru:</p>
              <p id="wind-speed">-</p>
            </div>
            <div class="flex space-x-2">
              <p>Temperatura:</p>
              <p id="temperature">-</p>
            </div>
          </div>
        </div>
        <h3 class="text-xl mb-2">Prognozy</h3>
        <img id="meteo-forecast" src="" class="border-0 mb-4" />
        <div class="w-full mb-4">
          <iframe
            class="w-full h-[200px]"
            src="https://embed.windy.com/embed.html?type=forecast&location=coordinates&detail=true&detailLat=51.792518561875625&detailLon=18.66756670243234&metricTemp=°C&metricRain=mm&metricWind=kt"
            frameborder="0"></iframe>
        </div>
        <div class="w-full">
          <div id="wg_fwdg_3644_100_1752307649736"></div>
          <div data-weather-widget></div>
        </div>
      </div>
      <div class="w-full text-left text-xs mt-4">
        <p>
          * Aktualna pogoda jest pobierana ze strony
          <a
            href="http://meteor.iung.pulawy.pl/view2.php?u=Warta"
            target="_blank"
            class="underline"
          >
            pulawy.pl
          </a>
        </p>
      </div>
    </Layout>

    <script>
      import "../../../main.js";
    </script>
  </body>
</html>
